   <nav>
   <div class="container">
     <div class="d-flex py-3">
       <div><a class=""> <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;
       <span>rajarsh.gangwar.96@gmail.com</span></a></div>
       <div class="ms-auto"> <i class="fa fa-phone" aria-hidden="true"></i> <span>+91 7380825958</span> &nbsp;
        <a href="https://www.linkedin.com/in/rajarsh-gangwar-8a8326148"><i class="fa fa-linkedin-square"
          aria-hidden="true"></i></a> &nbsp;
            <a href="https://twitter.com/@RajarshG"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
       </div>
     </div>
  </div> 
  </nav>  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">RAJARSH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">CONTACT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="projects">PROJECTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="otherinfo">OTHER INFO</a>
          </li>
      </ul>
    </div>
  </nav>
   


  