.footer{
    background-color: black;
    height: 250px;
    position: relative;
    padding: 15px;
    bottom: 0;
}
.footer1{
    background-color:dimgray;
    height: 100px;
    position: relative;
    padding: 15px;
    bottom: 0;
} 
.footer.container.icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

