<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer class="footer"> 
        <div class="container">         
<h1 class="text-center text-white">RAJARSH GANGWAR</h1>
<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
<h5 class="text-center text-white">Mobile No-7380825958</h5>
<div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
<h5 class="text-center text-white">Email-rajarsh.gangwar.97@gmail.com</h5>
<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
<h5 class="text-center text-white">Address-Village-Barauli,Bilhaur Kanpur Nagar 209202</h5>
</div> 
</footer>
 <div class="footer1">
    <p class="copyright text-left text-white">Copyright &copy 2021 Rajarsh Gangwar</p>
    <div class="icon"><i class="fa fa-copyright" aria-hidden="true"></i></div>
</div> 
   