<div>
    <h5 class="text-info text-center">About</h5>
    <h1 class="text-center text-primary">ABOUT ME</h1>
    <br>
    <h1 class="text-center">Hello I am Rajarsh Gangwar</h1>
    <h4 class="text-center text-info">Front-End Developer</h4>
  </div>
  <br>
  <div class="row" style="border:none; background:white; height: 210px;">
    <div class="col-lg-6">
      <img
        src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201802/portfolio.jpeg?FiDuEq_3VnAh8wxpLykw3aWI.eIslcbH"
        style="height: 200px; margin-left:45px; padding-bottom:10px; border-radius: 50px;" />
    </div>
    <div class="col-xl-6">
      <h1 style="font-size:20px; color:#03225C;">I am seeking a position that will allow me to use the skills and
        strengths i acquired as a
        student.I work extremely well in a team environment and have been a team leader on severalof my projects.I am
        prepared to make a significant contribution in the next step in my career.</h1>
    </div>
    </div>
