  <div class="container pt-5">
    <div class="section-title">
      <h2 class="text-primary">About</h2>
      <h3 class="pt-2">About <span class="text-primary">Me</span></h3>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-4 text-center">
        <img width="250px" height="250px" src="../../assets/images/my.jpg" class="rounded-circle" alt="Cinque Terre">
      </div>
      <div class="col-md-8 pt-4">
        <div>
          <div class="d-lg-block d-none">
            <h4>Hello, I'm Rajarsh Gangwar</h4>
            <!-- <h3></h3> -->
            <h5>Front End Developer </h5>
          </div>
          <div class="text-center d-sm-block d-lg-none">
            <h3>Hello!</h3>
            <h3>I'm Rajarsh Gangwar</h3>
            <h5>Front End Developer </h5>
          </div>
          <div>
            <p class="pt-2">Hard working and enthusiastic. Love to learn and keep updated with the latest technologies
              in the market especially new programming languages and platforms. Passionate coder and specially
              interested in Web Development technologies.<br>Innovative Front End Developer in building and maintaining responsive websites in the recruiting industry. Proficient in HTML, CSS, Angular, JavaScript.
            </p>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="p-3 "><a href="https://www.linkedin.com/in/rajarsh-gangwar-8a8326148"><i
                class="fa fa-linkedin-square" aria-hidden="true"></i></a></div>
          <div class="p-3 "><a href="https://twitter.com/@RajarshG"><i class="fa fa-twitter-square"
                aria-hidden="true"></i></a></div>
          <div class="p-3 "> <a href="https://github.com/Rajarsh789"><i class="fa fa-github-square"
                aria-hidden="true"></i></a></div>
          <div class="p-3 ">
            <a href="https://www.facebook.com/rajarsh.gangwar.1"> <i class="fa fa-facebook-square"
                aria-hidden="true"></i></a>
          </div>
          <div class="p-3 "> <a href="https://www.youtube.com/watch?v=cg9VyPBHu94"><i class="fa fa-youtube-square"
                aria-hidden="true"></i></a></div>
        </div>
      </div>
    </div>
  </div>

