<!-- <ul>
    <li class="text-danger"> Bus Pass Management System </li>
    <li class="text-success"> Tourist Website </li>
</ul> -->

<section>
    <div class="container pt-5">
        <div class="section-title">
            <h2 class="mt-3">PROJECTS</h2>
            <h3>Project <span> Description</span></h3>
        </div>
        <div class="row">
            <div class="col-md-4" data-aos="fade-up">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid" src="../../../assets/images/task-management.jpg"
                                            alt="card image">
                                    </p>
                                    <h4 class="card-title">Task Management System</h4>
                                    <p class="card-text">This project is used to fetch data from backend server and user
                                        can
                                        create , update and delete the data. I have designed this by using
                                        Angular, HTML and CSS and bootstrap programming language.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid" src="../../../assets/images/tourist.jpg"
                                            alt="card image">
                                    </p>
                                    <h4 class="card-title">Tourist Website</h4>
                                    <p class="card-text">I have designed this website using Angular, HTML and CSS
                                        programming language. In this website I have used parallax
                                        background image and in this website a traveler can search for the
                                        place where he or she want to go.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid" src="../../../assets/images/music.png" alt="card image">
                                    </p>
                                    <h4 class="card-title">Online Music Store Page</h4>
                                    <p class="card-text">I have designed this website using HTML and CSS. In this
                                        website
                                        we can search for the music list and music instruments.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--  -->
            <div class="col-md-4" data-aos="fade-up">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid" src="../../../assets/images/e-cart.jpg" alt="card image">
                                    </p>
                                    <h4 class="card-title">E-Commerce Cart</h4>
                                    <p class="card-text">This is a project based on Angular framework. In this project
                                        user
                                        can easily search products according to their needs and then add it
                                        to the cart.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>