    <div class="section-title pt-5">
        <h2 class="text-primary">Contact</h2>
        <h3>Contact <span class="text-primary">Us</span></h3>
        <!-- <p>PLEASE FILL OUT THE FORM BELOW AND WE WILL GET BACK TO YOU AS SOON AS POSSIBLE</p> -->
  </div>
  <br><br>
  <div class="container mt-4">
    <div class="row">
        <div class="col-md-5">
            <h5 class="font-weight-bold text-primary"> LET’S GET STARTED </h5>
            <p class="font-italic"> Get in touch and we’ll get back to you as soon as we can.</p>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">Name</label>
            <input type="email" class="form-control" formControlName="name" aria-describedby="emailHelp">
        </div>
        <br>
        <div class="form-group">
          <label for="exampleInputEmail1" class="text-uppercase">Email</label>
          <input type="email" class="form-control" formControlName="name" aria-describedby="emailHelp">
      </div>
      <br>
      <div class="form-group">
        <label for="exampleInputEmail1" class="text-uppercase">Subject</label>
        <input type="email" class="form-control" formControlName="name" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="form-group">
      <label for="exampleInputEmail1" class="text-uppercase">Message</label>
      <input type="email" class="form-control" formControlName="name" aria-describedby="emailHelp">
  </div>
  <br>
  <div class="text-center mt-4">
    <button class="btn btn-outline-primary text-uppercase">Send Message</button>
</div>
  <br><br>
  <br>

