<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- <section class="about" data-aos="fade-up"> -->
        <section class="about">
        <div class="container">
            <div class="section-title">
                <h2>College Memory </h2>
                <h3 class="pt-2">College <span>Memory</span></h3>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4 py-1">
                    <img src="../../../assets/images/img7.jpg" class="w-100">
                </div>
                <div class="col-md-4 py-1">
                    <img src="../../../assets/images/img2.JPG" class="w-100">
                </div>
                <div class="col-md-4 py-1">
                    <img src="../../../assets/images/img3.JPG" class="w-100">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 py-1">
                    <img src="../../../assets/images/img8.jpg" class="w-100">
                </div>
                <div class="col-md-4 py-1">
                    <img src="../../../assets/images/img8.jpg" class="w-100">
                </div>
                <div class="col-md-4 py-1">
                    <img src="../../../assets/images/img9.jpg" class="w-100">
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
      <h5 class="text-info text-center">About</h5>
      <h1 class="text-center text-primary">ABOUT ME</h1>
      <div class="row" style="border:none; background:white; height: 210px;">
        <div class="col-lg-6">
          <img
            src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201802/portfolio.jpeg?FiDuEq_3VnAh8wxpLykw3aWI.eIslcbH"
            style="height: 200px; margin-left:45px; border-radius: 50px;" />
            <!-- <h1 class="text-center">RAJARSH GANGWAR</h1> -->
        </div>
        <div class="col-md-7">
          <h1 style="font-size:20px; color:#03225C;">
            Father Name - Mr. Rakesh Gangwar
            Mother Name -Mrs. Neeraj Gangwar
            State and District - Uttar Pradesh / Kanpur Nagar
            Date Of Birth -07/10/1998
            Height - 175 CM
            Weight - 70 KG
            Blood Group - O+
            Language Spoken - Hindi,English
            Hobbies - Net Surffing ,Racing</h1>
        </div>
        </div>
      
