    <br>
    <br>
    <p class="text-center text-primary">College Memory</p>
    <h1 class="text-center">COLLEGE MEMORY</h1>
    <h1></h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
          <img src="https://conferences.lpu.in/isswm/imgs/4.jpg " 
          style="height: 200px; margin-left:45px; border-radius: 20px;" />
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
          <img src="https://littleangelschool.edu.in/images/school-buliding.jpg"
          style="height: 200px; margin-left:45px; border-radius: 20px;" />
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
          <img src="https://littleangelschool.edu.in/images/school-buliding.jpg"
          style="height: 200px; margin-left:45px; border-radius: 20px;" />
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
          <img src="https://littleangelschool.edu.in/images/school-buliding.jpg"
          style="height: 200px; margin-left:45px; border-radius: 20px; column-gap: normal;" />
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
          <img src="https://littleangelschool.edu.in/images/school-buliding.jpg"
          style="height: 200px; margin-left:45px; border-radius: 20px; column-gap: normal;" />
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
          <img src="https://littleangelschool.edu.in/images/school-buliding.jpg"
          style="height: 200px; margin-left:45px; border-radius: 20px; column-gap: normal;" />
        </div>
      </div>
    </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h5 class="text-info text-center">About</h5>
      <h1 class="text-center text-primary">ABOUT ME</h1>
      <div class="row" style="border:none; background:white; height: 210px;">
        <div class="col-lg-6">
          <img
            src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201802/portfolio.jpeg?FiDuEq_3VnAh8wxpLykw3aWI.eIslcbH"
            style="height: 200px; margin-left:45px; border-radius: 50px;" />
            <!-- <h1 class="text-center">RAJARSH GANGWAR</h1> -->
        </div>
        <div class="col-xl-6">
          <h1 style="font-size:20px; color:#03225C;">
            Father Name - Mr. Rakesh Gangwar
            Mother Name -Mrs. Neeraj Gangwar
            State and District - Uttar Pradesh / Kanpur Nagar
            Date Of Birth -07/10/1998
            Height - 175 CM
            Weight - 70 KG
            Blood Group - O+
            Language Spoken - Hindi,English
            Hobbies - Net Surffing ,Racing</h1>
        </div>
        </div>
      
