<div class="container-fluid">
    <section class="about">
        <div class="container">
            <div class="section-title">
                <h2 class="text-primary">Memory</h2>
                <h3 class="pt-2">College <span class="text-primary">Memory</span></h3>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4 py-1">
                    <img src="../../../assets/images/img7.jpg" class="w-100">
                </div>
                <div class="col-md-4 py-1">
                    <img src="../../../assets/images/img2.JPG" class="w-100">
                </div>
                <div class="col-md-4 py-1">
                    <img src="../../../assets/images/img3.JPG" class="w-100">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 py-1">
                    <img src="../../../assets/images/img8.jpg" class="w-100">
                </div>
                <div class="col-md-4 py-1">
                    <img src="../../../assets/images/img8.jpg" class="w-100">
                </div>
                <div class="col-md-4 py-1">
                    <img src="../../../assets/images/img9.jpg" class="w-100">
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <section class="about section-bg">
        <div class="container pt-3">
            <div class="section-title mb-0">
                <h2 class="text-primary">About</h2>
                <h3 class="pt-2">About <span class="text-primary">Me</span></h3>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-5 d-lg-block d-none">
                    <div class="d-flex flex-row offset-4">
                        <br>
                        <br>
                        <div>
                            <img width="210px" height="210px" src="../../assets/images/my.jpg" class="rounded-circle"
                                alt="Cinque Terre">
                        </div>
                    </div>
                    <div class="d-flex flex-row offset-4">
                        <div class="p-4">
                            <h5 class="">Rajarsh Gangwar</h5>
                            <h6 class="">Front-End Developer</h6>
                            <div class="d-flex flex-row justify-content-center">
                                <div class="p-1"><a href="https://www.linkedin.com/in/rajarsh-gangwar-8a8326148"><i
                                            class="fa fa-linkedin-square" aria-hidden="true"></i></a></div>
                                <div class="p-1 "><a href="https://twitter.com/@RajarshG"><i
                                            class="fa fa-twitter-square" aria-hidden="true"></i></a></div>
                                <div class="p-1 "> <a href="https://github.com/Rajarsh789"><i
                                            class="fa fa-github-square" aria-hidden="true"></i></a></div>
                                <div class="p-1 ">
                                    <a href="https://www.facebook.com/rajarsh.gangwar.1"> <i class="fa fa-facebook-square"
                                            aria-hidden="true"></i></a>
                                </div>
                                <div class="p-1 "> <a href="https://www.youtube.com/watch?v=cg9VyPBHu94"><i
                                            class="fa fa-youtube-square" aria-hidden="true"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="col-md-7">
                    <div>
                        <div class="d-flex flex-row  mb-1 ">
                            <div class="p-1 ">Father's Name -</div>
                            <div class="p-1 ">Mr. Rakesh Gangwar</div>
                        </div>
                        <div class="d-flex flex-row  mb-1">
                            <div class="p-1 ">Mother's Name -</div>
                            <div class="p-1 ">Mrs. Neeraj Gangwar</div>
                        </div>
                        <div class="d-flex flex-row  mb-1">
                            <div class="p-1 ">State and District -</div>
                            <div class="p-1 ">Uttar Pradesh / Kanpur Nagar</div>
                        </div>
                        <div class="d-flex flex-row  mb-1">
                            <div class="p-1 ">Date Of Birth -</div>
                            <div class="p-1 ">07/10/1998</div>
                        </div>
                        <div class="d-flex flex-row  mb-1">
                            <div class="p-1 ">Height -</div>
                            <div class="p-1 ">160 CM</div>
                        </div>
                        <div class="d-flex flex-row  mb-1">
                            <div class="p-1 ">Weight -</div>
                            <div class="p-1 ">65 KG</div>
                        </div>
                        <div class="d-flex flex-row  mb-1">
                            <div class="p-1 ">Blood Group -</div>
                            <div class="p-1 ">A+</div>
                        </div>
                        <div class="d-flex flex-row  mb-1">
                            <div class="p-1 ">Language Spoken -</div>
                            <div class="p-1 ">Hindi,English</div>
                        </div>
                        <div class="d-flex flex-row  mb-1">
                            <div class="p-1 ">Hobbies -</div>
                            <div class="p-1 ">Cricket And Bike Riding </div>
                        </div>
                    </div>
                </div>
            </div>