.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    color: red;
    row-gap: 5px;
    column-gap: 5px;
  }

  .section-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
    
   
  }
  .section-title h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 500;
    
}