.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    color: red;
    row-gap: 5px;
    column-gap: 5px;
  }
h2{
  padding-left: 540px;
}
h3{
  padding-left: 530px;
}
h1{
  padding-left: 745px;
}