<!-- Image and content code -->
<div class="container-fluid">
  <div class="container">
    <img
      src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBvcnRmb2xpb3xlbnwwfHwwfHw%3D&w=1000&q=80" style="background-size: cover;"
      alt="">
    <div class="centered">
      <h1 class="text-danger">WELCOME TO <span class="text-primary">MY PORTFOLIO ! </span>
      </h1>
      <div class="d-flex mt-4">
        <a href="https://www.youtube.com/watch?v=cg9VyPBHu94" class="venobox btn-watch-video"
          class="btn-get-started scrollto btn btn-primary" data-vbtype="video" data-autoplay="true"> Watch Video <i
            class="icofont-play-alt-2"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- middle section resume -->
<div id="middle">
  <div class="row ">
    <div class="col-md-  d-none d-lg-block">
      <h5>GET RESUME</h5>
    </div>
    <div class="ml-auto  d-none d-lg-block">
      <a href="../../../assets/RAJARSH RESUME.pdf" download>
        <button type="button" class="btn btn-outline-light"> <i class="fa fa-download" aria-hidden="true"></i>
          &nbsp;Download Resume</button></a>
    </div>
  </div>
</div>
<br>
<br>
<!--About section  -->
<section class="about">
  <div class="container">
    <div class="section-title">
      <h2 class="text-primary">About</h2>
      <h3>About <span class="text-primary">Me</span></h3>
    </div>
    <div class="row">
      <div class="col-md-4"><img src="../../assets/images/my.jpg" style="height: 250px; width: 250px;" class="rounded-circle" alt="">
      </div>
      <div class="col-md-8">
        <h2>HELLO, I'M RAJARSH GANGWAR</h2>
        <h5>Front End Developer</h5>
        <p class="pt-2">Hard working and enthusiastic. Love to learn and keep updated with the
          latest technologies in the market especially new programming languages and platforms.
          Passionate coder and specially interested in Web Development technologies.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- education section -->
<section>
  <div class="container pt-5">
    <div class="section-title">
      <h2 class="mt-3 text-primary">EDUCATION</h2>
      <h3>My <span class="text-primary"> Qualification</span></h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class="img-fluid" src="../../../assets/images/lpu1.jpg" alt="card image">
                  </p>
                  <h5 class="card-title">LOVELY PROFESSIONAL UNIVERSITY</h5>
                  <p class="card-text text-dark">Bachelor Of Technology</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class="img-fluid" src="../../../assets/images/little2.jpg" alt="card image">
                  </p>
                  <h5 class="card-title">LITTLE ANGELS SCHOOL</h5>
                  <p class="card-text text-dark">INTERMEDIATE</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class="img-fluid" src="../../../assets/images/little2.jpg" alt="card image">
                  </p>
                  <h5 class="card-title">LITTLE ANGELS SCHOOL</h5>
                  <p class="card-text text-dark">HIGH SHOOL</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>
<!-- Work Experience -->
<section class="work">
  <div class="container">
    <div class="section-title">
      <!-- <h2 class="text-primary">Work Experience</h2> -->
      <h3>WORK <span class="text-primary">EXPERIENCE</span></h3>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4"><img src="../../assets/images/company logo.jpg" style="height: 250px; width: 250px;" class="rounded-circle" alt="">
      </div>
      <div class="col-md-8">
        <h2>February 2022 - Present</h2>
        <h5>INTERN</h5>
        <p>I am working here as a Angular Developer.</p>
        <p>Website:-
          <a href="http://boltzmann.co/">http://boltzmann.co/</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Skills Section -->
<section>
  <div class="container pt-5">
    <div class="section-title">
      <h2 class="mt-3 text-primary">SKILLS</h2>
      <h3>Technical<span class="text-primary"> Skill</span></h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class="img-fluid" src="../../assets/images/html5.png" alt="card image">
                  </p>
                  <h4 class="card-title">HTML5</h4>
                  <!-- <p class="card-text text-info">Hypertext Markup Language revision 5 (HTML5) is markup language for the
                    structure and presentation of World Wide Web contents.</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class="img-fluid" src="../../assets/images/css3.jpg" alt="card image">
                  </p>
                  <h4 class="card-title">Cascading Style Sheet(CSS)</h4>
                  <!-- <p class="card-text text-info">CSS3 is used with HTML to create and format content structure. It is
                    responsible for colours, font properties,etc.
                  </p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class="img-fluid" src="../../assets/images/JavaScriptLogo.png" alt="card image">
                  </p>
                  <h4 class="card-title">JAVASCRIPT</h4>
                  <!-- <p class="card-text text-info">JavaScript is a text-based programming language used both on the
                    client-side and server-side that allows you to make web pages interactive.</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class="img-fluid" src="../../assets/images/Bootstrap_logo.png" alt="card image">
                  </p>
                  <h4 class="card-title">BOOTSTRAP</h4>
                  <!-- <p class="card-text text-info">Bootstrap is an HTML, CSS & JS Library that focuses on simplifying the
                    development of informative web pages (as opposed to web apps).</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class="img-fluid" src="../../assets/images/angular.png" alt="card image">
                  </p>
                  <h4 class="card-title">ANGULAR</h4>
                  <!-- <p class="card-text text-info">Angular 12, the latest production release of Google's popular
                    TypeScript-based web framework.</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class="img-fluid" src="../../assets/images/c.jpg" alt="card image">
                  </p>
                  <h4 class="card-title">C AND C++</h4>
                  <!-- <p class="card-text text-info">While C++ is commonly used for graphics-heavy software such as games,
                     C is more widely used for embedded devices and OS kernels.
                  </p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<!-- ======= Contact Section ======= -->
<section class="contact section-bg">
  <div class="container">
    <div class="section-title">
      <h2 class="text-primary"> Contact</h2>
      <h3>Contact <span class="text-primary">Us</span></h3>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-4">
        <div class="info-box mb-4">
          <i class="fa fa-map-marker"></i>
          <h3>Our Address</h3>
          <p> Royal Palace Pg 1st Near Sri Balaji Layout,Marathalli, Bangalore
            560037</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="info-box  mb-4">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <h3>Email Us</h3>
          <p>rajarsh.gangwar.96@gmail.com</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="info-box  mb-4">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <h3>Call Us</h3>
          <p> +91 7380825958</p>
        </div>
      </div>
    </div>
  </div>