<div class="container ">
<img src="https://i.ytimg.com/vi/TwYKwaEjJd4/maxresdefault.jpg" alt="">
</div>
<div class="centered">
  <h1 class="text-info" style="font-size:60px;">Welcome To My Personal Portfolio!!!</h1>
  <div class="d-flex mt-4">
    <a href="https://www.youtube.com/watch?v=cg9VyPBHu94" class="venobox btn-watch-video"
        class="btn-primary btn-get-started scrollto" data-vbtype="video" data-autoplay="true"> WATCH VIDEO <i
            class="icofont-play-alt-2"></i></a>
</div>
</div>
<!-- <nav>
  <ul>
    <li>
      <h5 class="text-center" style="padding: 24px;">DOWNLOAD RESUME</h5>
    </li>
  </ul>
</nav> -->
<div id="middle">
  
      <div class="row ">
          <div class="col-md-3  d-none d-lg-block">
              <h3>Download Resume </h3>
          </div>
          <div class="ml-auto  d-none d-lg-block">
              <a href="../../../assets/RAJARSH RESUME.pdf" download>
                  <button type="button" class="btn btn-outline-light"> <i class="fa fa-download"
                          aria-hidden="true"></i> &nbsp;Download Resume</button></a>
          </div>

      </div>
      <div class="d-sm-block d-lg-none">
          <a href="../../../assets/Prashant.pdf" download>
              <button type="button" class="btn btn-outline-light"> <i class="fa fa-download" aria-hidden="true"></i>
                  &nbsp;Download Resume</button></a>
      </div>
  </div>
<br>
<div>
  <h5 class="text-info text-center">About</h5>
  <h1 class="text-center text-primary">ABOUT ME</h1>
  <br>
  <br>
  <br>
  <h1 class="text-center">Hello I am Rajarsh Gangwar</h1>
  <h4 class="text-center text-info">Front-End Developer</h4>
</div>
<div class="row" style="border:none; background:white; height: 210px;">
  <div class="col-lg-6">
    <img src="../../../assets/images/my.jpg" style="height: 350px; margin-left:45px; border-radius: 150px;">
  </div>
  <div class="col-xl-6">
    <h1 style="font-size:20px; color:#03225C; margin-right: -591px; padding: 55px;">I am seeking a position that will
      allow me to use the skills and
      strengths i acquired as a
      student.I work extremely well in a team environment and have been a team leader on severalof my projects.I am
      prepared to make a significant contribution in the next step in my career.</h1>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h5 class="text-center text-info">Education</h5>
<h1 class="text-center text-success">MY QUALIFICATIONS</h1>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
      <img src="https://conferences.lpu.in/isswm/imgs/4.jpg "
        style="height: 200px; margin-left:45px; border-radius: 50px;" />
      <h5>LOVELY PROFESSIONAL UNIVERSITY</h5>
      <p>Bachelor Of Technology</p>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
      <img src="https://littleangelschool.edu.in/images/school-buliding.jpg"
        style="height: 200px; margin-left:45px; border-radius: 50px;" />
      <h5>LITTLE ANGELS SCHOOL</h5>
      <p>HIGH SCHOOL</p>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
      <img src="https://littleangelschool.edu.in/images/school-buliding.jpg"
        style="height: 200px; margin-left:45px; border-radius: 50px;" />
      <h5>LITTLE ANGELS SCHOOL</h5>
      <p>INTERMEDIATE</p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="skills">
  <p class="text-center text-primary">SKILLS</p>
  <h2 class="text-center text-primary">TECHNICAL SKILLS</h2>
  <nav>
    <ul>
      <li class="text-center">ANGULAR</li>
      <li class="text-center">HTML</li>
      <li class="text-center">CSS</li>
    </ul>
  </nav>
</div>
<br>
<br>
<!-- <div class="contact">
  <p class="text-center text-primary">Contact</p>
  <h2 class="text-center text-primary">CONTACT US</h2>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-success">OUR ADDRESS</h5>
      <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
      <p class="card-text">Village-Barauli,Bilhaur Kanpur Nagar 209202</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-primary">EMAIL US</h5>
      <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
      <p class="card-text">rajarsh.gangwar.97@gmail.com</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-info">CONTACT US</h5>
      <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
      <p class="card-text">7380825958</p>
    </div>
  </div>
</div>  -->
 <!-- ======= Contact Section ======= -->
 <section class="contact section-bg">
  <div class="container">
      <div class="section-title">
          <h2> Contact</h2>
          <h3>Contact <span>Us</span></h3>
      </div>
      <div class="row">
          <div class="col-lg-6">
              <div class="info-box mb-4">
                  <i class="fa fa-map-marker"></i>
                  <h3>Our Address</h3>
                  <p> Royal Palace Pg 1st Near Sri Balaji Layout,Marathalli, Bangalore
                      560037</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  <h3>Email Us</h3>
                  <p>rajarsh.gangwar96@gmail.com</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <h3>Call Us</h3>
                  <p> +91 7380825958</p>
              </div>
          </div>
      </div>
  </div>

</section>