 ul{
     list-style-type: none;
 }
 .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    /* column-gap:50px;
    row-gap: 20px;   */
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   #middle{
    background:blue ;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 20px;
  } 
  .container{
    max-width: 100%;
    overflow: hidden; 
}
img{
    width: 100%;
    object-fit: contain; 
}
section{
  padding: 60px, 0;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
}
.section-title{
  text-align:center;
  padding-bottom: 30px;
}
.contact .info-box i{
  font-size: 32px;
  border-radius: 50%;
  color: blue;
  padding: 8px;
  border: 2px dotted lightseagreen;

}
.contact .info-box h3{
  font-size: 20px;
  font-weight: 500;
}
   