 /* /* .container {
  position: relative;
  text-align: center;
}  */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img{
    height: 100%;
    width: 100%;
}
 ul{
     list-style-type: none;
 }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   #middle{
    background:blue ;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 20px;
  } 
  /* .container{
    max-width: 100%;
    overflow: hidden; 
} */
img{
    width: 100%;
    object-fit: contain; 
}
section{
  padding: 60px, 0;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
}
.section-title{
  text-align:center;
  padding-bottom: 30px;
}
.contact .info-box i{
  font-size: 32px;
  border-radius: 50%;
  color: blue;
  padding: 8px;
  border: 2px dotted lightseagreen;

}
.contact .info-box h3{
  font-size: 20px;
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
}
.frontside .card
 {
    min-height: 312px;
}

.frontside .card .card-title {
    color: #106eea !important;
}

.frontside .card .card-body img {
    width: 220px;
    height: 220px;
    /* border-radius: 50%; */
}   
